@model Pk2_RSVPwapp.Models.GuestReponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet3.css" />
    <title>Agradecimientos</title>
</head>
<body>
    @{
        try{
            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName ="mario.hernandez.03@gmail.com";
            WebMail.Password = "27090901";
            WebMail.From = "mario.hernandez.03@gmail.com";
            
            WebMail.Send("mario.hernandez.03@gmail.com", "Notificacion De Asistencia",
                Model.Name + ((Model.WillAttend ?? false) ? "": "no") + "Atendera");
            
        }
       catch(Exception){
           @:<b>error: No se pudo enviar el correo para confirmar</b>
            
    }
    }



    <div>
        <h1> Gracias, @Model.Name!</h1>
        @if (Model.WillAttend == true)
        {
            @:Que bueno que vendras, Las chelas estaran lista en el perfil.
        }
        else
        {
            @:Siento mucho que no puedas venir! :(, Pero muchas gracias por informalo.
        }
</div>
        @Html.ActionLink("RSV ahora", "RsvpForm"); 
    @Html.ActionLink("home", "Index");

</body>
</html>
