@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" /> 
     <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet2.css" />
    <title>Index</title>
</head>
<body>
    <div>
       <h1><b>@ViewBag.Greting Hola Amigo</b></h1>
       <p>Vamos a tener una fista increble<br />
       </p>
        @Html.ActionLink("RSV ahora", "RsvpForm"); 
    @Html.ActionLink("home", "RsvpForm");

    </div>
</body>
</html>
