@{
    ViewBag.Title = "NotFound";
}

<h1>La informacion que busca no pudo ser encontrada</h1>
<h2>Detalles</h2>
<ul>
    <li><b>Codigo de error:</b>@ViewData["Errorcode"]</li>
    <b><br>Descripcion: </b>@ViewData["Description"]</li>

</ul>
